<div class="container">
    <h1>PROYECTOS</h1>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/files/inspodeco.png" class="card-img-top" alt="img_inspodeco">
            <div class="card-body">
                <h2 class="card-title">Inspodeco</h2>
                <p class="card-text">Esta página dedicada a la inspiración para la decoración de un hogar muestra el conocimiento en CSS, HTML5 y SASS</p>
                <a href="https://inspodeco-ainhoa-vega.netlify.app/" class="btn" target="_blank">Visitar página</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/files/digitalchef.png" class="card-img-top" alt="img_digitalchef">
            <div class="card-body">
                <h2 class="card-title">Digitalchef</h2>
                <p class="card-text">Una página que simula una carta de restaurante en la que se puede ver tanto el diseño web como el enlace a una base de datos.</p>
                <a href="https://digitalchef-ainhoa-vega.netlify.app" class="btn" target="_blank">Visitar página</a>
            </div>
        </div>
    </div>
</div>