<div class="container">
    <h1>Sobre mí</h1>
    <p>Mi objetivo es comenzar a demostrar mis capacidades en este emocionante campo y contribuir a romper barreras,
        demostrando que las mujeres también sabemos de tecnología y podemos liderar en este sector. Además de mi
        formación técnica, tengo experiencia trabajando en una correduría de seguros y en diferentes tiendas, lo que me
        ha permitido desarrollar habilidades clave como el asesoramiento al cliente y el trabajo en equipo. Estas
        experiencias me han enseñado a abordar problemas como desafíos y a enfrentarme a ellos con determinación.</p>
    <p>
        Estoy muy motivada para aplicar mis conocimientos en el mundo real y aprender continuamente para seguir
        creciendo profesionalmente. Estoy convencida de que puedo aportar valor a su empresa, y me encantaría tener la
        oportunidad de conversar sobre cómo podría contribuir a su equipo.
    </p>
    <p>Aquí le dejo mi CV para que pueda tener mas información</p>
    <a href="../../assets/files/curriculum developer.pdf" download="cv-Ainhoa-Vega">Descargar CV</a>
</div>