<div class="container">
    <h1>Sobre mí</h1>
    <p>Mi objetivo es comenzar a demostrar mis capacidades en este emocionante campo y contribuir a romper barreras,
        mostrando que las mujeres también sabemos de tecnología y podemos liderar en este sector. Además de mi formación
        técnica, cuento con experiencia trabajando en una correduría de seguros y en diferentes tiendas, lo cual me ha
        permitido desarrollar habilidades clave, como el asesoramiento al cliente y el trabajo en equipo. Estas
        experiencias me han enseñado a abordar los problemas como desafíos y a enfrentarme a ellos con determinación.
    </p>
    <p>
        Estoy muy motivada para aplicar mis conocimientos en el mundo real y continuar aprendiendo para seguir creciendo
        profesionalmente. Estoy convencida de que puedo aportar valor a su empresa y me encantaría tener la oportunidad
        de conversar sobre cómo podría contribuir a su equipo.
    </p>
    <p>Aquí le dejo mi CV para que pueda tener mas información</p>
    <a href="../../assets/files/cv.pdf" target="_blank">Descargar CV</a>
</div>