<div id="container">

    <div class="introduction">
        <div class="img">
            <img src="../../assets/files/foto_perfil.jpeg" alt="foto_perfil">
        </div>
        <h1>Hola!! Soy Ainhoa</h1>
        <div class="description">

            <p>Soy una personada apasionada por la tecnología y la informática, me he graduado recientemente como
                Desarrolladora Web y estoy deseando poner en práctica todo lo aprendido además de seguir creciendo
                profesionalmente y aumentando mis conocimeintos en este sector.
            </p>
            <p>Principalmente estoy buscando trabajo como Desarrollador Frontend ya que me siento muy cómoda trabajando
                con
                Angular y
                el diseño web, aunque tambien me interensa bastante el tema de bases de datos.</p>
            <p>Sigo aumentando mis conocimientos actualizandome en las tecnologías que conozco y aprendiendo nuevas como hago actualmente con Java.</p>
        </div>
    </div>

    <div class="options">
        <div id="proyects" class="option">
            <div class="title">
                <img src="" alt="">
                <h2 [routerLink]="'/proyects'">Proyectos</h2>
            </div>
            <p>En este apartado podrán ver los diferentes proyectos que tengo hechos hasta el momento. </p>
        </div>
        <div id="aboutme" class="option">
            <div class="title">
                <img src="" alt="">
                <h2 [routerLink]="'/aboutme'">Sobre mi</h2>
            </div>
            <p>En este apartado podrás conocerme un poco más.</p>
        </div>
    </div>
</div>